.slogan {
  text-align: center;
}

.footer {
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;

}

.footer .a {
    text-decoration: none;
}

.footer a:hover {
  color: #8067d8;
}

.footer .btn {
  background-color: transparent;  /* Transparent background */
  border: none;                   /* No border */
  outline: none;                  /* No outline on focus */
  color: white;              /* Inherit the text color */
}

.footer .btn:hover,
.btn:focus {
  background-color: transparent; /* Ensure no background on hover/focus */
  color: #8067d8;                 /* Maintain text color */
}
  
  /* Styling for links in the right column of the footer */
  footer a {
    text-decoration: none;
    text-align: end; /* Remove underline from links */
    color: white; /* Text color for links */
    font-size: 15px; /* Font size for links */
    padding: 0px 0px 0px 0px; /* Padding for spacing out links */
    display: block; /* Make each link a block-level element */
  }
  
  /* Hover effect for the links */
  footer  a:hover {
    color: #8067d8; /* Change text color on hover */
  }
  
  /* Copyright text style */
  footer .col-1 p {
    font-size: x-small; /* Smaller font size for copyright text */
    text-align: center; /* Center-align the text */
    margin-bottom: 0; /* Remove bottom margin */
  }
  
